@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
/*activities*/
.activities{
  padding: 100px 0;
}
.title-box{
  text-align: center;
  /*padding-top: 80px;*/
  position: relative;
  font-size: 0;
}
.title-box__left,.title-box__right{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.title{
  font-size: 59px;
  line-height: 59px;
  font-weight: bold;
  color: #ff5f91;
  text-transform: uppercase;
}
.title-box__description{
  text-align: left;
  height: 60px;
  line-height: 106px;
  padding-left: 20px;
  margin: 0 0 25px -5px;
  font-size: 18px;
  color: #433a8b;
  font-weight: bold;
  border-left: 2px solid #413889;
}
.activities-boxes{
  font-size: 0;
  text-align: center;
  margin-top: 100px;
}
.activities-boxes__item{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding:75px 45px;
  max-width: 362px;
  width: 100%;
}
.activities-boxes__item:nth-child(2){
  background: #fff;
}
.activities-boxes__img{
  display: block;
  margin:0 auto;
}
.activities-boxes__title{
  font-size: 24px;
  font-weight: bold;
  color: #ff5f91;
  margin:40px 0;
}
.activities-boxes__text{
  font-size: 16px;
  line-height: 24px;
  color: #616161;
  height: 94px;
  overflow: hidden;
}
.activities-boxes__link{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  color: #433a8d;
  margin-top: 40px;
}

/*portfolio*/
.portfolio{
  padding: 100px 0;
}
.swiper-container {
  margin-top: 100px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 200px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-box a{
  display: block;
}
/*portfolio*/
/*work*/
.work{
  padding:55px 0 80px;
}
.work-icon{
  margin:40px 0;
}
.work-icon__img{
  display: block;
  margin:0 auto;
}
.work-advantages{
  max-width: 1100px;
  width: 100%;
  margin:0 auto;
  background: #fff;
  padding: 40px;
}
.work-advantages__item{
  max-width: 890px;
  width: 100%;
  margin: 0 auto 45px;
}
.work-advantages__item:last-child{
  margin:0 auto;
}
.work-advantages__title{
  font-size: 24px;
  font-weight: bold;
  color: #ff5f91;
  margin-bottom: 20px;
}
.work-advantages__text{
  font-size: 16px;
  line-height: 24px;
  color: #616161;
}
/*work*/
/*form*/
.form{
  padding:100px 0;
}
.form-container{
  margin: 100px auto;
  max-width: 750px;
  width: 100%;
  padding:65px 90px;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(243,242,247,1);
  -moz-box-shadow: 0px 0px 60px 0px rgba(243,242,247,1);
  box-shadow: 0px 0px 60px 0px rgba(243,242,247,1);
}
.form-links{
  margin-bottom: 90px;
}
.form-skype__link{
  width: 49%;
  margin-right: 1%;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #433a8b;
}
.form-mail__link{
  width: 49%;
  margin-left: 1%;
  text-align: left;
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #433a8b;
}
.form-skype__link span,.form-mail__link span{
  font-size: 18px;
  color: #ff5f91;
}
.contact-form__text,.contact-form__mail,.contact-form__textarea{
  width: 49%;
  overflow: hidden;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #413889;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  color: #616161;
  outline: none;
}
.contact-form__text:focus,.contact-form__mail:focus,
.contact-form__textarea:focus{
  border-bottom: 1px solid #ff5f91;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.contact-form__text{
  float: left;
  margin-right: 1%;
}
.contact-form__mail{
  float: right;
  margin-left: 1%;
}
.contact-form__textarea{
  margin: 60px 0 55px;
  width: 100%;
  line-height: 20px;
  max-width: 570px;
}
.contact-form__submit{
  display: block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  margin:0 auto;
  color: #fff;
  background-color: #433a8b;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.contact-form__submit:hover{
  -ms-filter: brightness(110%);
  filter: brightness(110%);
}
input{
  background: #fff !important;
}

/*form*/
/*work-together*/
.work-together{
  padding: 100px 0;
}
.work-together__box{
  max-width: 960px;
  width: 100%;
  margin:0 auto;
}
.work-together__title{
  width: 50%;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: #433a8b;
  float: left;
}
.work-together__links{
  float: right;
  font-size: 0;
  width: 50%;
  text-align: right;
}
.work-together__link{
  display: inline-block;
  vertical-align: top;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #433a8b;
  text-align: center;
  border: 2px solid #433a8b;
  max-width: 202px;
  width: 100%;
  margin-right: 10px;
}
.work-together__link-active{
  color: #fff;
  background: #ff6192;
  border: none;
}
/*work-together*/
/*footer*/
.footer{
  padding:100px 0;
  text-align: center;
}
.follow-title{
  font-size: 36px;
  font-weight: bold;
  color: #ff6192;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.follow-soc__links{
  margin-bottom: 24px;
  font-size: 0;
}
.follow-soc__link{
  display: inline-block;
  vertical-align: top;
  margin:0 8px 16px;
}
.follow-soc__link{
}
.follow-soc__link-icon{
  display: block;
  width: 49px;
  height: 49px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.follow-soc__fb{
  background: url("img/fb-icon.png") no-repeat;
}
.follow-soc__vimeo{
  background: url("img/vimeo-icon.png") no-repeat;
}
.follow-soc__insta{
  background: url("img/insta-icon.png") no-repeat;
}
.footer-box__copyright{
  padding-top: 40px;
  border-top: 2px solid #ededed;
}
.follow-soc__link:hover .follow-soc__fb{
  background: url("img/fb-icon-hover.png") no-repeat;
}
.follow-soc__link:hover .follow-soc__vimeo{
  background: url("img/vimeo-icon-hover.png") no-repeat;
}
.follow-soc__link:hover .follow-soc__insta{
  background: url("img/insta-icon-hover.png") no-repeat;
}
.footer-box__copyright-text{
  font-size: 16px;
  color: #616161;
}
/*footer*/
@media all and (max-width: 1200px){


  .title{
    font-size: 50px;
    line-height: 50px;
  }
  .header-left{
    padding-right: 45%;
  }
  .activities-boxes__item{
    max-width: 100%;
    width: 33%;
  }

}
@media all and (max-width: 1100px){

  .header-left{
    padding-right: 45%;
  }
  .title{
    font-size: 45px;
    line-height: 45px;
  }


}
@media all and (max-width: 1024px){

  .header-left{
    padding-right: 41%;
  }
  .nav {
    margin-bottom: 113px;
  }
  .develop-photo{
    max-width: 380px;
  }
  .develop-photo img{
    max-width: 100%;
  }
  .title{
    font-size: 45px;
    line-height: 45px;
  }
  .nav-list_link{
    padding:0 14px;
  }
  .activities-boxes__item{
    padding:75px 20px;
  }

}
@media all and (max-width: 900px){

  .header {
    padding-bottom: 100px;
  }
  .develop-photo{
    margin:0 auto 30px;
    position: static;
  }
  .nav {
    margin-bottom: 30px;
  }
  .nav-list{
    text-align: center;
  }
  .header-left{
    padding-right: 0;
    max-width: 580px;
    margin:0 auto;
    display: block;
  }
  .header .title{
    font-size: 40px;
    line-height: 40px;
  }
  .info-develop__hi{
    font-size: 30px;
    line-height: 30px;
  }
  .center{
    padding: 0 5px;
  }
  .work-together__box{
    text-align: center;
  }
  .work-together__title,.work-together__links{
    float: none;
    display: inline-block;
    vertical-align: top;
    margin:10px 0;
    width: 100%;
    text-align: center;
  }
  .work-together__link{
    margin-bottom: 10px;
  }
  .info-develop__links{
    margin-top: 20px;
  }

}
@media all and (max-width: 800px){

  .activities-boxes__item{
    padding:75px 45px;
    width: 50%;
  }
  .work-advantages{
    padding: 20px 10px;
  }
  .form-mail__link,.form-skype__link,.form-skype__link span, .form-mail__link span{
    font-size: 15px;
  }
  .form-container{
    padding: 55px 40px;
  }
  .sw-1{
    height: 101%;
    width: 100%;
  }


}
@media all and (max-width: 600px){

  .develop-photo{
    width: auto;
    margin:0 auto 30px;
    position: static;
  }
  .nav-list__item{
    width: 40%;
    float: left;
  }
  .nav-list__item .nav-list_link{
    height: 56px;
    line-height: 56px;
  }
  .nav-list__item:first-child{
    width: auto;
  }
  .nav-list__item:first-child .nav-list_link{
    height: 112px;
    line-height: 112px;
  }
  .nav-list_link{
    padding:0;
    font-size: 16px;
  }
  .activities-boxes__item{
    padding:75px 20px;
    width: 50%;
  }
  .form-mail__link,.form-skype__link,.form-skype__link span, .form-mail__link span{
    font-size: 18px;
  }
  .form-mail__link,.form-skype__link{
    display: block;
    width: 100%;
    float: none;
    margin: 10px 0 ;
  }

}
@media all and (max-width: 480px){

  .activities-boxes__item{
    padding:75px 45px;
    width: 100%;
    max-width: 362px;
  }
  .title-box__left, .title-box__right{
    width: auto;
  }
  .title-box__description{
    height: 30px;
    line-height: 45px;
  }
  .title{
    font-size: 36px;
  }

  .form-container{
    padding: 35px 10px;
  }

}
@media all and (max-width: 420px){

  .nav-list__item{
    width: 37%;
    float: left;
  }
  .activities-boxes__item{
    padding:75px 20px;
    width: 100%;
    max-width: 362px;
  }
  .contact-form__mail {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .contact-form__text {
    float: none;
    margin: 0 0 20px 0;
    width: 100%;
  }
  .form-links{
    margin-bottom: 20px;
  }
  .contact-form__textarea{
    margin:20px 0 ;
  }

}








